*{
    margin: 1px;
    padding: 0px;
}


.work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.color{
    background-color: rgb(245, 245, 245);
}
/* shared style */
.btn-primary{
    background-color: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600; 
    border-radius: 8px;
    border:none;
}
/* navber style */
.navber{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    padding: 24px 160px 24px 160px; 
    background-color: rgb(245, 245, 245);
}
.nav-title{
    font-size: 32px;
    color: rgb(14, 14, 14);
}
.resume-btn{
    
}
.resume{
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    font-weight: bold; 
    color:rgb(0, 106, 80);
   border: 2px solid rgb(0, 106, 80);
    border-radius: 5px;
}
/* banner style */
.banner{
    display: flex; 
    justify-content: space-between;
    align-items: center;
   margin: 80px 160px 80px 160px;
   border-radius: 24px;
   margin-top: 50px;
 background: rgb(198, 228, 214);

 }
 .banner-content{
     margin: 0px 64px; 
 }
.banner-greeting{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner-title{
    color: rgb(14, 14, 14);
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.banner-profile-pic{  
 margin: 64px; 
}
/* skill section */
.main-section{
    padding: 24px 160px 24px 160px; 
}
.section-title-items{
    margin-bottom: 20px;
}
.section-title{
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}
.section-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
}
.skill-container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 30px;
    border-radius: 20px;
}
.skills-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.skills-2{
    background-color: rgb(198, 228, 214);
}
.skills-3{
    background-color: rgb(247, 235, 207);
}
.btn-primary-1{
    background-color: rgb(84, 144, 245);
}
.btn-primary-2{
background-color: rgb(9, 161, 92);
}
.btn-primary-3{
    background-color: rgb(255, 194, 57);
}
.skill-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin: 10px 10px;
}
.skill-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
/* recent box */
 .recent{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: justify;
    gap: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 50px 50px;
}
.main-title{
    background-color: main-title;
}
.recent-box-1{
    border: 2px solid greenyellow;
    width: 408px;
    height: 306px;
    border-radius: 30px;
}
.recent-box{
    border-radius: 20px;
}
.recent-box-2{
   
} 
.recent-box-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 30px;
    margin-bottom: 20px;
}
.recent-time{
    color: rgba(14, 14, 14, 0.7);
    margin: 10px 10px;
}
.section-description-title{
   margin-bottom: 30px;
}
